<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- <a v-bind:href="url">链接1</a>
        <a :href="url">链接2</a>

        <input v-model="url" type="text" /> -->
        <input type="button" value="点我一下"   @focus="handler()">
        年龄<input type="text" v-model="age">经判定，为：
        <span v-if="age<=35">年轻人</span>
        <span v-else-if="age>35&&age<60">中年人</span>
        <!-- v-show 和 这个差不多，但是在浏览器渲染的时候，v-if看不到
        而 v-show是用dispaly标签设置为none -->
        <span v-else>老年人</span>
        <br><br>

        <div v-for="(item,index) in address">
            {{index+1}}:{{ item }}
        </div>
    </div>

</body> 
<script>
    new Vue({
        el:"#app",
        data:{
            age:20,
            address:["北京","上海","深圳"],
            url:"https://www.baidu.com"
        },
        methods:{
            handler:function(){
                console.log("被摸了一下")
            }
        }
    })
</script>
</html>